*{
    margin: 0;
    padding: 0;
}
body{
    background-color: wheat;
}
h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#table{
    background-color: #2C5E8F;
    min-width: 500px;
    min-height: 500px;
    display: table;
    margin: auto;
    margin-top: 10%;
    
}
#cell{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
input{
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}
button{
    font-size: 30px;
}